footer {
  background-color: #fff;
  .footer-links {
    ul {
      list-style: none;
      margin: 0;
      padding: 24px 0 0;
      font-size: 13px;
      color: rgba($text-color, 0.502);
      font-weight: bold;
      text-transform: uppercase;
      display: flex;

      a {
        color: rgba($text-color, 0.502);
      }

      li + li {
        margin: 0 0 0 40px;
      }
    }

    &.footer-links-vertical {
      ul {
        flex-direction: column;
        padding-top: 3px;
        padding-left: 20px;
        display: inline-block;
        text-align: left;

        @media (max-width: 767px) {
          text-align: center;
          padding-left: 0;
        }

        li {

          a {
            text-transform: none;
            font-size: 15px;
            color: rgba($text-color, 0.6);
          }
        }

        li + li {
          margin: 10px 0 0;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .footer-links {
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 575px) {
    .footer-links {
      flex-direction: column;
      align-items: center;

      li + li {
        margin: 20px 0 0;
      }
    }
  }

  .footer-top {
    transition: all 1s;
    background-color: #fcc35c;
    padding: 20px 0;

    @media (max-width: 767px) {
      padding: 20px 0;
    }

    .row {
      align-items: center;
    }

    @media (max-width: 991px) {
      label {
        text-align: center;
      }
    }
  }

  &.high-height {
    .footer-top {
      padding-top: 110px;
    }
  }

  .footer-bottom {
    //border-top: 1px solid $border-color;
    padding: 50px 0;

    .footer-links-title {
      text-transform: uppercase;
      font-size: 13px;
      color: rgba($text-color, 0.8);
      font-weight: bold;
      padding-left: 20px;
      text-align: left;
      margin: 0 0 10px;
      font-family: 'Open Sans', sans-serif;

      @media (max-width: 767px) {
        padding-left: 0;
        text-align: center;
      }
    }

    @media (max-width: 767px) {
      padding: 30px 0;
    }

    .footer-text {
      font-size: 12px;
      color: rgba($text-color, 0.6);
      line-height: 1.5;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    .footer-logo {
      margin-bottom: 20px;
    }
  }

  .footer-copyright {
    font-size: 12px;
    color: rgba($text-color, 0.6);
    padding-bottom: 40px;
  }

  .footer-links-line {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        text-transform: none;
        display: inline-block;

        & + li {
          margin-left: 15px;
        }

        a {
          font-size: 12px;
          color: rgba(49, 86, 147, 0.6);
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }
}
